{% load staticfiles %}
{% load custom_filter %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="views" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" href="/static/dashboard.css">
	<title>activities editor</title>
	<link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/jscalendar-1.0/calendar-win2k-cold-1.css" media="all" title="win2k-cold-1">

	<script type="text/javascript" src="/static/jscalendar-1.0/calendar.js"></script>
	<script type="text/javascript" src="/static/jacalendar-1.0/lang/calendar-en.js"></script>
	<script type="text/javascript" src="/static/jacalendar-1.0/calendar-setup.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/layer-2.1/layer.js"></script>
	<script>
		window.onload = function()
		{
			if('{{error}}'){
				layer.alert('{{error}}',{
					title:"提示",
					icon: 5,
				});
			}
			else if('{{success}}'){
				layer.alert('{{success}}',{
					title:"提示",
					icon: 6,
				});
			}
		}
	</script>
</head>
<body>
	<div class="col-sm-12">
		<form name="form-horizontal" method="post" action="/gmtools/account/lock/?name={{ name }}">
			{% csrf_token %}
			<input type="hidden" name="send_flag" id="hiddenField" value="1">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="id_name">账号名字</label>
				<div class="col-sm-8">
					<input type="text" name="accountName" class="form-control" id="id_name" value="{{ name|escape }}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="id_time">封锁时长(分)</label>
				<div class="col-sm-8">
					<input type="text" name="time" class="form-control" id="id_time" value="{{lock_time}}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="id_reason">封锁原因</label>
				<div class="col-sm-8">
					<input type="text" name="reason" class="form-control" id="id_reason" value="{{reason}}"/>
				</div>
			</div>
			<div>
				<div class="col-sm-2 col-sm-offset-4">
					<button type="submit" class="btn btn-default">确定封锁</button>
				</div>
			</div>
		</form>
		<p>&nbsp;</p>
	</div>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".auth_direction").hover(function(){
				$(this).find('span').removeClass('direction');
			},
			function(){
				$(this).find('span').addClass('direction');
			});
		});
	</script>
</body>
</html>