{% extends "gmtools/query/query_base.html" %}
{% load custom_filter %}



{% block content %}
	<script>
		window.onload = function()
		{
			if('{{error}}'){
				layer.alert('{{error}}',{
					title:"提示",
					icon: 5,
				});
			}
		}
	</script>
	<h2 class="page-header">玩家物品流向查询</h2>
	<h4 class="page-header">查询条件</h4>
	<div class="row placeholders">
		<form name="form-horizontal" method="post" action="/gmtools/query/role_item/">{% csrf_token %}
			<input type="hidden" name="send_flag" id="hiddenField" value="1">
			<div class="from-group">
				<div class="row">
					<div class="from-group col-sm-8">
						<div class="col-sm-4 control-label">
							<label class="col-sm-9 control-label">物品UID</label>
							<div class="col-sm-13">
								<input type="text" name="uid" class="form-control" id="uid" value="{{ uid }}"/>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-1">
						<label class="col-sm-9 control-label">操作</label>
						<button type="submit" class="btn btn-default">确 定</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<h4 class="sub-header">查询结果</h4>
	<div class="table-responsive">
		<table class="table table-striped table-condensed" border="1">
			<thead>
				<tr>
					<th>角色名</th>
					<th>物品UID</th>
					<th>物品数量</th>
					<th>物品名称</th>
					<th>交易玩家/商店ID</th>
					<th>交易类型</th>
					<th>交易时间</th>
					<th>记录类型</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>{{ data.roleName }}</td>
						<td>{{ data.itemUid }}</td>
						<td>{{ data.itemNum }}</td>
						<td>{{ data.itemName }}</td>
						<td>{{ data.tradeRole }}</td>
						<td>{{ data.tradeType }}</td>
						<td>{{ data.updatetime }}</td>
						<td>{{ data.type }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}